.article-card {
  display: grid;
  grid-row: 1fr 1fr;
  height: 100vh;
  grid-template-areas:
    "articles"
    "comments";
}

.articles {
  background-color: red;
  border-radius: 15px;
  margin: 5px;
  max-height: 75vh;
  overflow-y: scroll;
}

.comments {
  background-color: white;
  overflow-y: scroll;
}

.button {
  background: none;
  border: none;
}

.emoji {
  font-size: 2em;
}
